.App {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background: #121212;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
}

button:hover {
    background-color: #1ed760cc;
}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

input[type="text"] {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    width: 300px;
    max-width: 80%;
    outline: none;
    margin-bottom: 20px;
}
